// ----------------------------------------------------------------------------
// Widget-jenkins-jobs styles
// ----------------------------------------------------------------------------
.widget-jenkins-jobs {
  background: #333333;

  .title {
    color: #FFF;
  }

  .job {
    color: #FFF;
    background-color: black;
    float: left;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    font-size: 30px
  }

  .job[data-state="blue"] {
    background-color: #81C6DD;
  }

  .job[data-state="yellow"] {
    background-color: #E9B64D;
  }

  .job[data-state="red"] {
    background-color: #D74B4B;
  }

  .job[data-state="disabled"], .job[data-state="aborted"] {
    background-color: #DCDDD8;
    color: #333333;
  }
}
