<% content_for :title do %>commercetools GRID dashboard<% end %>

<div class="gridster">
	<script type='text/javascript'>
	  $(function() {
	    Dashing.numColumns = 6
	  });
	</script>

	<style>

	  .widget-graph svg {
	    opacity: 0.4;
	    fill-opacity: 0.8;
	  }

	  .widget-graph .x_tick .title, .widget-graph .y_tick .title {
        opacity: 0.8;
  	  }


	</style>

  <ul>
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
	   <div data-id="status_2xx" data-view="Graph" data-title="2xx (PROD)" data-moreinfo="Last 60 min" style="background-color:#000000"></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
	   <div data-id="status_5xx" data-view="Graph" data-title="5xx (PROD)" data-moreinfo="Last 60 min" ></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="errors_per_store" data-view="List" data-unordered="true" data-title="5xx (PROD)" data-moreinfo="# of 5xx last 24h" style="background-color:#DC5945"></div>
    </li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="orders" data-view="List" data-unordered="true" data-title="Orders (PROD)" data-moreinfo="# of orders last 24h"></div>
    </li>
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
	   <div data-id="events" data-view="Graph" data-title="Events (STAG)" data-moreinfo="Last 60 min" style="background-color:#000000"></div>
	</li>
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
	   <div data-id="errors" data-view="Graph" data-title="Errors (STAG)" data-moreinfo="Last 60 min"></div>
	</li>
  </ul>
</div>