<% content_for :title do %>commercetools GRID dashboard<% end %>

<div class="gridster">
	<script type='text/javascript'>
	  $(function() {
	    Dashing.widget_base_dimensions = [300, 360]
	    Dashing.numColumns = 4
	  });
	</script>

	<style>

	  .widget-graph svg {
	    opacity: 0.4;
	    fill-opacity: 0.8;
	  }

	  .widget-graph .x_tick .title, .widget-graph .y_tick .title {
        opacity: 0.8;
  	  }


	</style>

  <ul>
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
	   <div data-id="status_2xx" data-view="Graph" data-title="2xx" data-moreinfo="Last 60 min" style="background-color:#000000"></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
	   <div data-id="status_5xx" data-view="Graph" data-title="5xx" data-moreinfo="Last 60 min" style="background-color:#000000"></div>
	</li>
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
	   <div data-id="events" data-view="Graph" data-title="Events" data-moreinfo="Last 60 min" style="background-color:#000000"></div>
	</li>
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
	   <div data-id="errors" data-view="Graph" data-title="Errors" data-moreinfo="Last 60 min" style="background-color:#000000"></div>
	</li>
  </ul>
</div>