<% content_for :title do %>commercetools dashboard<% end %>

<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [280, 380]
    Dashing.numColumns = 5
  });
</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="icinga-grid_prod" data-view="Icinga" data-unordered="true" data-title="GRID Prod" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="icinga-grid_stag" data-view="Icinga" data-unordered="true" data-title="GRID Stag" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="icinga-misc_prod" data-view="Icinga" data-unordered="true" data-title="MISC Prod" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="icinga-ci" data-view="Icinga" data-unordered="true" data-title="CI" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="icinga-sphere_frontend" data-view="Icinga" data-unordered="true" data-title="Sphere Frontend" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="icinga-sphere_prod" data-view="Icinga" data-unordered="true" data-title="SPHERE Production" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="icinga-sphere_stag" data-view="Icinga" data-unordered="true" data-title="SPHERE Staging" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="3" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#333333;" data-moreinfo="Tweets tagged with #commercetools, #sphereio or mentions @commercetools, @sphereio"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
  </ul>
</div>
