<% content_for :title do %>commercetools dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nagios-grid_stag" data-view="Nagios" data-unordered="true" data-title="Icinga GRID Stag" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="nagios-grid_prod" data-view="Nagios" data-unordered="true" data-title="Icinga GRID Prod" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="nagios-sphere_stag" data-view="Nagios" data-unordered="true" data-title="Icinga SPHERE Stag" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="nagios-sphere_prod" data-view="Nagios" data-unordered="true" data-title="Icinga SPHERE Prod" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nagios-misc_prod" data-view="Nagios" data-unordered="true" data-title="Icinga MISC Prod" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="nagios-ci" data-view="Nagios" data-unordered="true" data-title="Icinga CI" data-moreinfo="Unacknowledged events"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#333333;" data-moreinfo="Tweets tagged with #commercetools, #sphereio or mentions @commercetools, @sphereio"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
  </ul>
</div>
