// ----------------------------------------------------------------------------
// Widget-jenkins-queue styles
// ----------------------------------------------------------------------------
.widget-jenkins-queue {
  background-color: #EBB035;

  .title {
    color: #FFF;
  }

  .job {
    color: #FFF;
    background-color: #192823;
    float: left;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    width: 94%;
    font-size: 25px
  }
}
