// ----------------------------------------------------------------------------
// Widget-jenkins-queue styles
// ----------------------------------------------------------------------------
.widget-jenkins-queue {
  background-color: #ff9618;

  .title {
    color: #FFF;
  }

  .job {
    color: #FFF;
    background-color: #D45C36;
    float: left;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    width: 94%;
  }
}
