// ----------------------------------------------------------------------------
// Widget-jenkins-build styles
// ----------------------------------------------------------------------------
.widget-jenkins-build {
  background: #47A8BB;

  .title {
    color: #FFF;
  }

  .job {
    color: #FFF;
    background-color: gray;
    float: left;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    width: 94%;
    font-size: 25px
  }

  .job[data-state="blue_anime"] {
    background-color: #475F77;
    -webkit-animation:flashgreen;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
  }

  .job[data-state="yellow_anime"] {
    background-color: #E9B64D;
    -webkit-animation:flashyellow;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
  }

  .job[data-state="red_anime"] {
    background-color: #D74B4B;
    -webkit-animation:flashred;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
  }

  .job[data-state="disabled_anime"], .job[data-state="aborted_anime"] {
    background-color: #DCDDD8;
    color: #333333;
    -webkit-animation:flashgrey;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
  }
}

@-webkit-keyframes flashgreen
{50% {background: #5D8AA0;}}

@-webkit-keyframes flashyellow
{50% {background: #192823;}}

@-webkit-keyframes flashred
{50% {background: #A60000;}}

@-webkit-keyframes flashgrey
{50% {background: #AFAFA8;}}
